<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" >

			<label for="headline">
				Headline <input type="text" name="headline" id="headline"> 
			</label>


			<label for="date">
				Time posted <input type="date" name="time" id="timepost"> 
			</label>

			<label for="skills">
				Skills <input type="text" name="skills" id="skills"> 
			</label>
			

			<label for="URL">
				Photo URL <input type="text" name="photoUrl" id="photoUrl"> 
			</label>
			
			<input type="submit" value="Add Article">

		</form>
	</div>
</div>