<div class="row">
	
	<!-- first column w/ image-->
	<div class="span4">
	<h2>{{article_n.headline}}</h2>
		<img src="{{article_n.photo}}" alt="photo {{article_n.headline}}" class="img-polaroid" width="320px"><br>
		<div>
		Time Posted: {{article_n.timepost}}<br>
		URL: <a href = '{{article_n.urlA}}'> Link to original article</a> <br>
		Twitter: <a href=' http://www.twitter.com/{{article_n.twitter}}'> {{article_n.twitter}}</a><br>
		</div>
	</div>
	
	<!-- second column w/ details-->
	<div class="span4">
		{{#article_n.category}}
		<div>
			<h3>BREAKING NEWS</h3>
		</div>
		{{/article_n.category}}
		
		<hr>
		<div>
			{{article_n.text}}<br>
		</div>
	</div>

	<!-- third column w/ listings -->
	<div class="span4">
	
		<a href='/'>Back to the front page </a>
		<h3>Available stories</h3>
		<hr>
		{{#article}}
		<li>
			<a href="/article/{{slug}}">{{headline}}</a>
		</li>
		{{/article}}

		<br>
		<a href="/create">Add a new article</a>
	</div>

</div>