<div class="row">
	
	<!-- first column w/ image-->
	<div class="span4">
	<h2>{{article_n.headline}}</h2>
		<img src="{{article.photo}}" alt="photo {{article.headline}}" class="img-polaroid" width="320px"><br>
		
		<!--source: 
		<a href="{{article.source.url}}" class="small">
			{{articles.source.headline}}
		</a>-->
		<div>
		Time Posted: {{article_n.timepost}}<br>
		URL: {{articles.url}}<br>
		Twitter: {{article_n.twitter}}<br>
		</div>
	</div>
	
	<!-- second column w/ details-->
	<div class="span4">
		<h1>{{article_n.headline}}</h1>
		<hr>

		<div>
		<!--	Time Posted: {{articles.timepost}}<br>-->

					
			Text: {{article_n.text}}<br>
			
		</div>
			
	<!--		Missions:
			<ul>
				{{#article.missions}}
				<li>{{.}}</li>
				{{/article.missions}}
				{{^article.missions}}
				No missions yet.
				{{/article.missions}}
			</ul>
		</div> -->
<!-- look at the hastag, it's boolean -->
		{{#article_n.category}}
		<div>
			<h3>BREAKING NEWS</h3>
			<!--<img src="http://gifs.gifbin.com/062009/1246007745_michael_moonwalking.gif" alt="moonwalking animated gif with michael jackson">-->
		</div>
		{{/article_n.category}}

	</div>

	<!-- third column w/ listings -->
	<div class="span4">
		<h3>Article</h3>
		<hr>
		{{#article}}
		<li>
			<a href="/article/{{slug}}">{{headline}}</a>
		</li>
		{{/article}}

		<br>
		<a href="/create">Add a new article</a>
	</div>

</div>