<div class="row">

	<div class="span6">

		<h1>halberd alpha</h1>
		
		
	<!--	<img src="http://youtu.be/QmNTKy8LJiY" alt="Space shuttle animated gif crossing an LA highway"> -->
		
		<hr>

		<h3>{{pageTitle}}</h3>

		{{#article}}
		<div class="row">
			<div class="span4">
			<li>
				<a href="/article/{{slug}}">{{name}}</a>
			</li>
			</div>
		</div>
		{{/article}}

		<hr>
		<p>
			<a href="/create">Create a new article</a>
		</p>
	</div>

	<!-- right column -->
	<div class="span6">
		<h3>Based on</h3>
		<li>
			<a class="btn" href="https://github.com/johnschimmel/Heroku-ExpressJS-Boilerplate">Github Repo</a>
		</li>
		<li>[ExpressJS](http://expressjs.com) framework</li>
		<li>[Hogan-Express](https://github.com/vol4ok/hogan-express) Template Engine</li>
	</div>


</div>