<div class="row">

	<div class="span6">
		
		<img src ='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVGt1QNOQLj7EUCgDuNJEWXPv5s4G61c8vHQV29An8Io3a2_de' height= "height/2", width='width/2'>
		
		<h1>Halberd alpha</h1>
		<hr>

		<h3>{{pageTitle}}</h3>

		{{#article}}
		<div class="row">
			<div class="span4">
			<li>
				<a href="/article/{{slug}}">{{headline}}</a>
			</li>
			</div>
		</div>
		{{/article}}
		<hr>
		 
		<p>
			<a href="/create">Create a new article</a>
		</p>
	</div>

	<!-- right column -->
	
	<div class="span6">
	
		<h3>Resources</h3>
		<a href= 'https://github.com/mdelamerced/first-fake-database'> View the code on github</a> 
	
	</div>

</div>